temp/
sota/
__pycache__/
notebooks/90_temp.ipynb
notebooks/91_temp.ipynb
notebooks/92_temp.ipynb
notebooks/93_temp.ipynb
notebooks/94_temp.ipynb
notebooks/95_temp.ipynb
notebooks/96_temp.ipynb
notebooks/97_temp.ipynb
notebooks/98_temp.ipynb
notebooks/99_temp.ipynb

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
